<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cực lẹ</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.svg">
    <link href="../static/style.css" rel="stylesheet">
    <link href="../static/cheatsheet.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>

  <body class="bg-body-tertiary">
    <!-- Sidebar -->
    <div class="sidebar bg-body-tertiary">
      <div class="container text-left">
        <h3 class="mt-3 mx-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image-alt" viewBox="0 0 16 16">
            <path d="M7 2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0m4.225 4.053a.5.5 0 0 0-.577.093l-3.71 4.71-2.66-2.772a.5.5 0 0 0-.63.062L.002 13v2a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4.5l-4.777-3.947z"/>
          </svg>
          Cực lẹ
        </h3>
        <p class="mt-3 mx-3">
          "Cực lẹ" is a Vietnamese abvert, which means very fast! 
          As its named, here is a quick-app for those 
          who are too lazy to open up their photo editor.
        </p>
      </div>
      <div class="container">
        <hr>
      </div>
    </div>
    <div class="content py-4">
      <div class="row p-5">
        <div class="col p-2">
          <form id="edit-image">
            <div class="row">
              <div class="col-3">
                <label for="edit-top" class="form-label">Frame</label>
                <select class="edit form-select" id="edit-frame" disabled>
                  <option selected value="None">None</option>
                  <option value="add">Add</option>
                  <option value="surround">Portfolio</option>
                  <option value="what">What?</option>
                </select>
              </div>
              <div class="col-9">
                <label for="edit-top" class="form-label">Text</label>
                <input type="text" class="edit form-control" id="edit-top" placeholder="Top lines" autocomplete="off" disabled>
                <input type="text" class="edit form-control" id="edit-middle" placeholder="Middle lines" autocomplete="off" disabled>
                <input type="text" class="edit form-control" id="edit-bottom" placeholder="Bottom lines" autocomplete="off" disabled>
              </div>
            </div>
            <label for="edit-input-watermark" class="form-label">Watermark</label>
            <div class="row ms-2">
              <div class="input-group edit">
                <input type="file" accept="image/*" class="form-control" id="edit-input-watermark" aria-describedby="cancel-upload-watermark" aria-label="Upload" disabled>
                <button class="btn btn-outline-danger" type="button" id="cancel-upload-watermark" onclick="clearFileInput()" disabled>Cancel</button>
              </div>
            </div>
            <div class="row ms-2">
              <div class="col-3 text-end">
                or
              </div>
              <div class="col-9">
                <input type="text" class="edit form-control" id="edit-text-watermark" placeholder="Text" disabled>
              </div>
            </div>
            <div class="row ms-2">
              <div class="col">
                <div class="input-group edit">
                  <label class="input-group-text" for="setWatermarkLayout">Layout</label>
                  <select class="form-select" id="setWatermarkLayout" disabled>
                    <option selected value="conner">Conner</option>
                    <option value="tum lum">Ranning</option>
                    <option value="big one">Overlay</option>
                  </select>
                </div>
              </div>
              <div class="col">
                <div class="input-group edit">
                  <label class="input-group-text" for="setWatermarkPosition">Position</label>
                  <select class="form-select" id="setWatermarkPosition" disabled>
                    <option selected value="bottom-left">Bottom left</option>
                    <option value="bottom-right">Bottom right</option>
                    <option value="top-left">Top left</option>
                    <option value="top-right">Top right</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col px-sm-5 p-1">      
          <div class="image-preview rounded-5">
            <form id="upload-image" action="/upload" method="post" enctype="multipart/form-data" class="full">
              <label for="input-file" id="drop-area">
                <input type="file" accept="image/*" id="input-file" hidden>
                <div id="img-view">
                  <img src="/static/images/cloud-arrow-up.svg">
                  <p>Drag and drop or click here<br>to upload image</p>
                </div>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/dropimage.js"></script>
  </body>
</html>